In [7]:
import zipfile
import pandas as pd
import io

# Path to the ZIP file
zip_file_path = 'data_YourNextPurchase.zip'

# Dictionary to store DataFrames
dataframes = {}

# Open the ZIP file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # List all files in the ZIP
    file_names = zip_ref.namelist()
    
    # Load CSV files into DataFrames
    for file_name in file_names:
        if file_name.endswith('.csv'):
            with zip_ref.open(file_name) as file:
                # Read the CSV file into a DataFrame
                df_name = file_name.split('/')[-1].split('.')[0]  # Use the file name (without extension) as key
                dataframes[df_name] = pd.read_csv(io.TextIOWrapper(file, encoding='utf-8'))

In [10]:
for name, df in dataframes.items():
    print(f"\nDataframe: {name}")
    print("-" * 50)
    display(df)

Dataframe: clients
--------------------------------------------------

,ClientID,ClientSegment,ClientCountry,ClientOptINEmail,ClientOptINPhone,ClientGender,Age
0,4508698145640552159,LOYAL,USA,1,1,M,NaN
1,2022746661324934183,INACTIVE_1Y,USA,0,1,F,NaN
2,5794452591674300222,LOYAL,USA,1,1,F,NaN
3,678556389231830160,LOYAL,USA,1,1,M,NaN
4,877301557964624234,LOYAL,USA,1,1,F,NaN
...,...,...,...,...,...,...,...
424032,6368205759336936904,LOYAL,USA,1,1,F,NaN
424033,6789036627132562875,LOYAL,USA,1,0,NaN,NaN
424034,6482790535813826054,LOYAL,USA,1,1,F,45.0
424035,6068605136251037073,LOYAL,USA,1,1,NaN,NaN
424036,2842700915024695088,LOYAL,USA,0,1,F,NaN

Dataframe: products
--------------------------------------------------

,ProductID,Category,FamilyLevel1,FamilyLevel2,Universe
0,8588329712199129922,Basketball,Shoes,Adidas Harden Vol. 4,Women
1,2134543135517272693,Football,Shoes,Nike Mercurial Vapor,Women
2,7624925797167026532,Football,Ball,Nike Ordem V,Women
3,2270862675779333216,Football,Jersey,Adidas Home Jersey,Men
4,6504730903144736800,Football,Shorts,Adidas Squadra 21,Women
...,...,...,...,...,...
3148077,3001474681171769417,Softball,Ball,Worth Dream Seam,Men
3148078,5431491360807494905,Softball,Bat,DeMarini CF,Women
3148079,723882298635000031,Softball,Ball,Worth Dream Seam,Men
3148080,559354893668910273,Softball,Bat,DeMarini CF,Men
3148081,5791035403749135046,Softball,Bat,Easton Ghost,Women

Dataframe: stocks
--------------------------------------------------

      StoreCountry            ProductID  Quantity
0              AUS  1284651161701379667       2.0
1              AUS  6076274819885027797       2.0
2              AUS  6019386668821120661       2.0
3              AUS  2122575437123245322       2.0
4              AUS  5901681811213086415       2.0
...            ...                  ...       ...
16019          ARE  3935326559397911351       9.0
16020          DEU  3935326559397911351       9.0
16021          DEU  6153039859697012898      10.0
16022          ARE  6153039859697012898      10.0
16023          FRA  6153039859697012898      10.0

[16024 rows x 3 columns]

Dataframe: stores
--------------------------------------------------

                 StoreID StoreCountry
0    7793989562498223120          BRA
1    5301108587679203543          BRA
2    2908896877692945358          BRA
3    2718131790848668199          BRA
4    7819332417840564556          BRA
..                   ...          ...
601  4492541004792360162          USA
602  8606906800192283162          USA
603  5478106795462651143          USA
604  5524089218753938698          USA
605  5812167621976147559          USA

[606 rows x 2 columns]

Dataframe: transactions
--------------------------------------------------

,ClientID,ProductID,StoreID,Quantity,SalesNetAmountEuro
0,6537585694072340545,892503538536458279,3306498059038628287,1,5.99
1,4683903573974630323,2280106402057212010,7822979941365014922,2,7.99
2,7339204980378485328,1246438640521446697,1218850731058946723,1,22.99
3,7771198051684050239,7364330090809847794,7716007625050232825,5,99.96
4,243477490322694440,535382046483971864,6262119512442084635,1,3.99
...,...,...,...,...,...
2566126,6555241243318578326,6455532082254803732,5861178266993976204,1,55.99
2566127,7113208284132402985,4956805089050054381,5973162337933203520,3,33.98
2566128,1996745383814827883,5626151450577313519,6717376593634704323,2,23.99
2566129,293533182166539397,7902131434890947234,7822979941365014922,2,21.99
2566130,4194474516554070694,6972617502296452400,7042378510114251866,1,24.99